.bodyStyle{
    background-color: #323232 !important;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

}

.socialLink a{
    color: white !important;
}
.ancre {
    display: none;
  }
  #hamburger {
    margin: 22px 18px;  
    top: 0;
    box-sizing: border-box;
    position: absolute;
    height: 12px;
    width: 20px;
  }
  #hamburger>div {
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: #fecc52;
  }
  #hamburger>div:after, #hamburger>div:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fecc52;
  }
  #hamburger>div:before {
    margin-top: -5px;
  }
  #hamburger>div:after {
    margin-top: 5px;
  }
  a#wrapper:target ~ #wrapper {
    left: 0;
    box-shadow: -4px 0 16px black;
  }
  a#wrapper:target ~ #close {
    width: 100%;
    cursor: default;
  }
  #wrapper {
    transition: all 0.8s ease;
    position: absolute;
    width: 300px;
    left: -380px;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 5;
  }
  #wrapper>#image {
    width: 100%;
    height: 170px;
    background-color: lightblue;
  }
  #right-ul {
    overflow-y: scroll;
    height: calc(100% - 170px);
    box-shadow: 0 0 80px #878787;
  }
  #close {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
  }

  .mblUL {
    padding: 20px 0 0 60px;
    margin: 0;
  }
 .mblLi {
    list-style: none;
    line-height: 2.5em;
    font-size: 15px;
  }
  #contenu {
    width: 100%;
    padding: 11px;
    box-sizing: border-box;
  }




.bannerPart{
    /* background-color: antiquewhite; */
    /* background-image: url(../images/banner1.jpg); */
    /* background: rgba(0, 0, 0, 0.1); */
    /* background-size: cover; */
    /* background-color: black; */
    height: calc(100vh - 8rem);
    max-height: 570px;
    overflow: hidden;
}
.outerBanner{
    height: calc(100vh - 8rem);
}

/* navBar part */
.navBar{
    background-color: #00000067;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navBar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navBar ul li{
    margin: 0 1rem;
    font-size: 18px;
    color: white;
    font-family: "Oswald", sans-serif;
}

.bannerImg1{
    width: 100%;
    height: calc(100vh - 8rem);
    display: block;
    object-fit: cover;
}
.bannerContent{
    margin-top: 220px;
}
.bannerPart h1, h2, h3, h4, h5{
    font-family: "Oswald", sans-serif;
    color: white;
}
.bannerPart h2 {
    font-size: 32px ;
    font-weight: 400;
}

.bannerPart h5 {
    font-size: 60px;
    font-weight: 600;
}
.subHeading{
    color : #FECC52;
}
.blakish{
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.strokeText{
    -webkit-text-stroke: .75px #fff;
    color: #fff0;
    
}

.description{
    margin-top: 50px;
    
}
.borderTest{
    /* border: red 2px solid; */
    
}
.firstDes{
    aspect-ratio: 4 / 3.9;
}
.descBackgrounBorder{
    border: #a9a9a9 .01rem solid;
    width: calc(100% - 16rem);
   aspect-ratio: 4/4.8;
    z-index: -1;
}
.desc1BGDIV{
    width: calc(100% - 15rem);
    top: 4rem;
    left: 4.5rem;
}
.desc1BG2DIV{
    width: calc(100% - 28rem);
    top: 20rem;
    left: 21.5rem;
}

.leftDesc{
    border: white 2px solid;
}


.rightDesc h1, h2, h3, h4, h5{
    font-family: "Oswald", sans-serif;
    color: white;
}
.headingHighlight{
    color: #fecc52
}
.rightDesc h1{
    font-size: 64px;
}
.dscTextDiv {
    color: white;
}
.buttonYDesc{
    padding: 16px 35px;
    width: 150px;
    background-color: #FECC52;
}
.btnSpace{
    
    height: 15px;
}

.portfolioPart h1, h2, h3, h4, h5{
    font-family: "Oswald", sans-serif;
    color: white;
}

/* .port1{
    background-image: url('/images/banner1.jpg');
    background-size: cover;
   
} */
 .innerDiv{
    width: 100%;
    aspect-ratio: 4 / 5;

 }
.portImg{
    /* width:fit-content; */
    /* height: 100%; */
    width: 100%;
    display: block;
    margin: auto;
}
.descPare{
    overflow: hidden;
}
.testDesc{
    background-color: #2a2a2a73;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    backdrop-filter: saturate(180%) blur(4px);
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
  /* visibility: hidden;
  transform: translateY(10px); */
  /* transition: opacity 0.3s ease, transform 0.3s ease; */
}

.descPare:hover .testDesc {
    opacity: 1;
    visibility: visible;
    /* transform: translateY(0); */
  }

/* 
.numberHeadService{
    width: 100%;
} */
.ratio45{
    aspect-ratio: 4/5;
}

.ratio32{
    aspect-ratio: 3/2;
}
.ratio45child{
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.ratio32child{
    margin-bottom: 2.5rem !important;
    margin-left: 2rem;
}
.ratio45child h1{
    font-family: "Oswald", sans-serif;
    color: white;
}
.ratio45child h3{
    font-family: "Oswald", sans-serif;
    color: white;
    font-weight: 300;
}

.innerDiv2{
    width: 100%;
    aspect-ratio: 3 / 2;

 }

.ratio45child:hover h3{
    color: #fecc52
}

.numberHeadService h3{
    
}


.weServe h1, h2, h3, h4, h5{
    font-family: "Oswald", sans-serif;
    color: white;
}

.weServe h1{

}

.outerBorderServe{
    /* border: black 1px solid; */
    height: auto;
    padding: 12px 26px;
    
}

.underServeBox{
    border: #9e9e9e .01rem solid;
    width: 100%;
    display: block;
    /* margin: 10px; */
    padding: 10px;
}

.serveImg{
    display: block;
    width: 100%;
}

.underServeBox h2{
    font-size: 30px;
    font-weight: 300;
    margin-top: 14px;
}

.underServeBox p{
    /* font-size: 30px;
    font-weight: 300; */
    color: white;
    margin-top: 15px;
}

.highligtedText{
    /* -webkit-text-stroke: .75px #fff; */
    color: #FECC52;
    
}

.stanButton{
    padding: 10px 0;
    width: 128px;
    background-color: #FECC52;
    border: none;
    stroke: none;
}



@media (max-width: 568px) {

    .bodyStyle{
        background-color: #323232 !important;
        font-family: Arial, sans-serif;
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .bannerPart h1, h2, h3, h4, h5{
        font-family: "Oswald", sans-serif;
        color: white;
    }
    .bannerPart h5 {
        font-size: 40px;
        font-weight: 600;
    }
    .bannerPart h2 {
        font-size: 20px ;
        font-weight: 400;
    }
    .descBackgrounBorder{
        width: calc(100% - 8rem);
        height: 20rem;
    }
    .desc1BGDIV{
        width: calc(100% - 7rem);
        top: 4rem;
        left: 2.5rem;
    }
    .desc1BG2DIV{
        width: calc(100% - 12rem);
        top: 10rem;
        left: 11.5rem;
    }
    .firstDes{
        aspect-ratio: 4 / 4.5;
    }
    .rightDesc h1 {
        font-size: 30px;
    }
    .rightDesc h5 {
        font-size: 16px;
    }
    .fancy{
        font-size: 10px !important;
        width: 150px !important;
    }
}
.secondtDes{
    aspect-ratio: 4 / 4;
}
.footerBG{
    background-image: url('../images/footer.jpg');
}

.footerp{
    color: white;
    font-family: 'Poppins', sans-serif
}
.contactFooter h5 h3{
    color: white;
    font-family: 'Poppins', sans-serif
}

.Execelent{
    color: white;

}
.googleRating p{
    color: white;
    font-family: oswald, sans-serif;
    font-size: 18px;
}
.gLogo{
    width: 140px;
    margin-top: -12px;
}

.p-path{
    font-size: 18px;
    color: white;
}
.aboutusHead{
    color: #FECC52
}
.nav-a{
    text-decoration: none;
    color: white;
}
.nav-a:link {
    color: white;
  }
  
  /* visited link */
.nav-a:visited {
    color: white;
  }
  
  /* mouse over link */
.nav-a:hover {
    color: white;
  }
  
  /* selected link */
.nav-a:active {
    color: white;
  }